IPython
Pillow
PyMuPDF
PyPDF2
beautifulsoup4
docling
google-generativeai
groq
html5lib
huggingface_hub
joblib
langchain
langchain-classic
langchain-community
langchain-core
langchain-groq
langchain-huggingface
langchain-pinecone
langchain-text-splitters
langgraph
llama_parse
lxml
matplotlib
nest_asyncio
numpy<2.0
openai
pandas
peft
pinecone-client
plotly
pydantic
pygments
pymupdf4llm
qwen_vl_utils
rapidfuzz
requests
rich
selenium
sentence-transformers
tabulate
torch
torchao
tqdm
transformers
undetected-chromedriver
webdriver-manager
