fastapi
uvicorn[standard]
python-multipart
python-dotenv
pydantic
aiofiles

langchain
langchain-core
langchain-community
langchain-groq
langchain-huggingface
langchain-pinecone

pinecone
pinecone-client

langgraph
langgraph-checkpoint

groq

sentence-transformers
transformers

docling

numpy<2