@
IPython
accelerate
bitsandbytes
datasets
edge-tts
edge_tts
git+https://github.com/unslothai/unsloth.git
google-generativeai
mediapipe
moviepy
nest_asyncio
numpy<2.0
opencv-python
pandas
peft
safetensors
torch
trl
unsloth
unsloth-zoo
xformers
